<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.co.journalista.mappers.adminMapper">
 
   	<!-- 관리자 추가 -->
 	<insert id="admin_register" parameterType="kr.co.journalista.AdminVO">
		insert into airfly.admin(admin_id, password, admin_name)
		values(#{admin_id}, #{password}, #{admin_name})
	</insert>
	
	<!-- 기자 추가 -->
	<insert id="journal_register" parameterType="kr.co.journalista.JournalVO">
		insert into airfly.journalistinfo(journal_email, journal_pass, journal_name, press, journal_part)
		values(#{journal_email}, #{journal_pass}, #{journal_name}, #{press}, #{journal_part})
	</insert>
	
	<!-- 언론사 추가 -->
	<insert id="press_register" parameterType="kr.co.journalista.PressVO">
		insert into airfly.press(press_name, press_pass, press_type)
		values(#{press_name}, #{press_pass}, #{press_type})
	</insert>
	
	<!-- 관리자 ID체크 -->
	<select id="getAdmin" parameterType="kr.co.journalista.AdminVO" resultType="kr.co.journalista.AdminVO">
		SELECT * FROM airfly.admin WHERE admin_id = #{admin_id}
	</select>
	
	<!-- 기자 이메일체크 -->
	<select id="getJournalEmail" parameterType="kr.co.journalista.JournalVO" resultType="kr.co.journalista.JournalVO">
		SELECT * FROM airfly.journalistinfo WHERE journal_email = #{journal_email}
	</select>
	
	<!-- 언론사 이름 체크 -->
	<select id="getPressName" parameterType="kr.co.journalista.PressVO" resultType="kr.co.journalista.PressVO">
		SELECT * FROM airfly.press WHERE press_name = #{press_name}
	</select>
	
	<!-- 유저 목록 -->
	<select id="allmember" resultType="kr.co.journalista.MemberVO">
		select * from airfly.member where `leave` = 0 order by m_no desc
	</select>

	<!-- 회원정보 삭제 처리 -->
	<update id="memberDelete" parameterType="java.util.List">
		update airfly.member set `leave` = 1 
		WHERE m_no IN
		<foreach open="(" close=")" separator="," collection="list" item="m_no">
			#{m_no}
		</foreach>
	</update>

	<!-- 유저 정보수정 페이지 -->
	<select id="updateView" parameterType="integer" resultType="kr.co.journalista.MemberVO">
		select `name`, `email`, `auth`, `m_no` from airfly.member where `m_no` = #{m_no}
	</select>
	
	<!-- 유저 정보수정 -->
	<update id="userUpdate" parameterType="kr.co.journalista.MemberVO">
		update airfly.member set `name`= #{name}, `auth`= #{auth} where m_no = #{m_no}
	</update>
	
	<sql id="searchCondition">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">
				and `name` like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'e'.toString()">
				and `email` like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'a'.toString()">
				and `auth` like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'n_e'.toString()">
				and (`name` like CONCAT('%', #{keyword}, '%') or `email` like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>
	
	<!-- 유저정보페이지 페이징 -->
	<select id="memberPage" resultType="kr.co.journalista.MemberVO">
		select * from airfly.member where `leave` = 0 <include refid="searchCondition"></include> order by `m_no` desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="gettotalcount" resultType="int">
		select count(m_no) from airfly.member where `leave` = 0 <include refid="searchCondition"></include>
	</select>
	
		<!-- 기타게시판 관리 -->
	<sql id="wrsearchCondition">
		<if test="searchType != null">
			<if test="searchType == 'wrn'.toString()">
				and `wr_no` like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 't'.toString()">
				and `wr_title` like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'n'.toString()">
				and `name` like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and `wr_contents` like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'all'.toString()">
				and (`wr_title` like CONCAT('%', #{keyword}, '%') or `name` like CONCAT('%', #{keyword}, '%') or `wr_contents` like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>
	
	<!-- 관리자 기타게시판 페이지 페이징 -->
	<select id="wrboardPage" resultType="kr.co.journalista.WrBoardVO">
		select * from airfly.wr_board where `wr_del` = 0 <include refid="wrsearchCondition"></include> order by `wr_no` desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="wrgettotalcount" resultType="int">
		select count(wr_no) from airfly.wr_board where `wr_del` = 0 <include refid="wrsearchCondition"></include>
	</select>
	
	<!-- 관리자 기타게시판 삭제 처리 -->
	<update id="wrboardDelete" parameterType="java.util.List">
		update airfly.wr_board set `wr_del` = 1 
		WHERE wr_no IN
		<foreach open="(" close=")" separator="," collection="list" item="wr_no">
			#{wr_no}
		</foreach>
	</update>
	
 </mapper>