<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.journalista.mappers.eboardMapper">

	<update id="delete" parameterType="int">
		update e_board set e_del = 1 where e_no = #{e_no}
	</update>

	<select id="getBoardForDelete" resultType="kr.co.journalista.eBoardVO">
		select m_no from e_board where e_no = #{e_no}
	</select>
	
	<select id="search" resultType="kr.co.journalista.JournalVO">
		select * from journalistinfo
		where journal_name regexp #{journal_name}
	</select>
	
	<select id="search_no" resultType="kr.co.journalista.JournalVO">
		select * from journalistinfo
		where j_no = #{j_no}
	</select>
	
	<insert id="write" parameterType="kr.co.journalista.eBoardVO">
		insert into
		e_board(`score`, `trackback`, `e_datetime`, `evaluation`, `name`, `j_no`, `articletitle`, `m_no`)
		values(#{score}, #{trackback}, #{e_datetime}, #{evaluation}, #{name}, #{j_no}, #{articletitle}, #{m_no})
	</insert>
	
	<select id="total_score" parameterType="kr.co.journalista.eBoardVO" resultType="double">
		select sum(score) from e_board where j_no = #{j_no};
	</select>
	
	<select id="count_jno" parameterType="kr.co.journalista.eBoardVO" resultType="double">
		select count(*) from e_board where j_no = #{j_no};
	</select>
	
	<update id="update_score" parameterType="kr.co.journalista.JournalVO">
		update journalistinfo set total_score = #{total_score}
		where j_no = #{j_no}
	</update>
	
	<update id="update_eBoard_avg_score" parameterType="kr.co.journalista.JournalVO">
		update e_board set total_score = #{total_score}
		where j_no = #{j_no}
	</update>
	
	<select id="like_check" parameterType="kr.co.journalista.eBoardVO" resultType="int">
		select 
		count(`like_no`)
		from
		liketo 
		where 
		m_no = #{m_no} and e_no = #{e_no} 
	</select>
	
	<insert id="insert_like" parameterType="kr.co.journalista.eBoardVO">
		insert into
		liketo(`e_no`, `m_no`, `like_check`)
		values(#{e_no}, #{m_no}, 1)
	</insert>
	
	<update id="like" parameterType="kr.co.journalista.eBoardVO">
		update liketo set like_check = 1 
		where e_no = #{e_no} and m_no = #{m_no}
	</update>
	
	<update id="unlike" parameterType="kr.co.journalista.eBoardVO">
		update liketo set like_check = 0 
		where e_no = #{e_no} and m_no = #{m_no}
	</update>
	
	<select id="like_or_unlike" parameterType="kr.co.journalista.eBoardVO" resultType="int">
		select
		like_check
		from
		liketo
		where
		e_no = #{e_no} and m_no = #{m_no}
	</select>
	
	<select id="sum_like" parameterType="kr.co.journalista.eBoardVO" resultType="int">
		select 
		sum(like_check) 
		from liketo 
		where e_no = #{e_no}
	</select>
	
	<select id="update_like" parameterType="kr.co.journalista.eBoardVO">
		update e_board set `like` = #{like}
		where e_no = #{e_no}
	</select>
	
  	<sql id="searchCondition">
  		<trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="searchType != null">
			<if test="searchType == 'wr_title'.toString()">
				and `wr_title` like CONCAT('%', #{keyword}, '%') and wr_del = 0
			</if>
			<if test="searchType == 'wr_contents'.toString()">
				and `wr_contents` like CONCAT('%', #{keyword}, '%') and wr_del = 0
			</if>
			<if test="searchType == 'name'.toString()">
				and `name` like CONCAT('%', #{keyword}, '%') and wr_del = 0
			</if>	
		</if>
		<if test="category != null">
			<if test="category=='request'">
				and `category` = "요청" and wr_del = 0
			</if>
			<if test="category=='report'">
				and `category` = "신고" and wr_del = 0
			</if>
			<if test="category=='etc'">
				and `category` = "기타" and wr_del = 0
			</if>
		</if>
		</trim>
	</sql>
	
	<select id="getLikeList" resultType="kr.co.journalista.eBoardVO">
		select * from liketo where m_no = #{m_no}
	</select>
	
	<select id="getBoardList" resultType="kr.co.journalista.eBoardVO">
		select *,(SELECT COUNT(*) FROM e_boardrep WHERE e_no = b.e_no) AS recnt from e_board b where e_del = 0 order by e_no desc limit 0, 7
	</select>

	<select id="infiniteScrollDown" resultType="kr.co.journalista.eBoardVO">
		select * from e_board 
		where e_no >= #{e_no} - 7
		and e_no &lt; #{e_no}
		and e_del = 0
		order by e_no desc
	</select>
	
	<select id="infiniteScrollUp" resultType="kr.co.journalista.eBoardVO">
		select * from e_board
		where e_no &lt; #{e_no}
		and e_no >= #{e_no} - 7
	</select>

	<select id="BestRanking" resultType="kr.co.journalista.JournalVO">
		select journal_name, press, total_score from journalistinfo
		order by total_score desc limit 0, 7
	</select>

	<select id="WorstRanking" resultType="kr.co.journalista.JournalVO">
		select * from journalistinfo where length(total_score) > 0
		order by total_score limit 0, 7
	</select>
</mapper>