<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ereply">
	
	<!-- 입력 -->
	<insert id="insertEreply" parameterType="kr.co.journalista.EreplyVO">
		insert into e_boardrep ( e_no, m_no, ere_text, email, name, ere_ip)
		values(#{e_no},#{m_no},#{ere_text},#{email},#{name},#{ere_ip})
	</insert>
	
	<!-- 목록 -->
	<select id="listEreply" resultType="kr.co.journalista.EreplyVO">
		select ere_no, e_no, ere_text, email, name, regdate, updatedate
		from e_boardrep
		where e_no = #{e_no}
		order by regdate desc
	</select>
	
	<!-- 삭제 -->
	<delete id="deleteEreply">
		delete from e_boardrep
		where ere_no=#{ere_no}
	</delete>
	</mapper>