<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.journalista.mappers.memberMapper">

	<!-- 회원 가입 -->
	<insert id="register"
		parameterType="kr.co.journalista.MemberVO">
		insert into airfly.member(`email`, `password`, `name`, `leave`, `auth`)
		values(#{email}, #{password}, #{name}, 0, 0)
	</insert>

	<!-- 로그인 
	<select id="login" resultType="kr.co.journalista.MemberVO">
		select
		userId, userName
		from
		myMember
		where userId = #{userId}
		and userPass = #{userPass}
	</select>

	
	<select id="idCheck" resultType="kr.co.journalista.MemberVO">
		select userId from myMember
		    where userId = #{userId}
	</select>
-->
</mapper>