<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.journalista.mappers.memberMapper">

	<!-- 회원 가입 -->
	<insert id="register"
		parameterType="kr.co.journalista.MemberVO">
		insert into airfly.member(`email`, `password`, `name`, `leave`, `auth`, `Reg_date`)
		values(#{email}, #{password}, #{name}, 0, 1, #{Reg_date})
	</insert>
	
	<!-- 이메일 중복체크 -->
	<select id="emailCheck" parameterType="String" resultType="integer">
		select count(*) from airfly.member where `email` like CONCAT('%',#{email},'%')
	</select>

	<!-- 로그인 -->
	<select id="login" parameterType="kr.co.journalista.MemberVO" resultType="kr.co.journalista.MemberVO">
		select
		email, name
		from airfly.member
		where email = #{email}
		and password = #{password}	
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="update_mypage" parameterType="kr.co.journalista.MemberVO">
		update airfly.member set name = #{name}, password = #{password} where email = #{email}
	</update>

	<update id="createAuthKey" parameterType="kr.co.journalista.MemberVO">
		update airfly.member set email_key = #{email_key} where email = #{email}
	</update>
	
	<update id="userAuth">
		update airfly.member set email_key = 'Y' where email = #{email}
	</update>

</mapper>