<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.journalista.mappers.searchMapper">

	<!-- 기자 검색 -->
	<select id="searchjournalist" parameterType="String" resultType="kr.co.journalista.JournalVO">
		SELECT * FROM airfly.journalistinfo WHERE journal_name regexp #{journal_name} order by journal_name asc
	</select>
	
	<!-- 기자 상세페이지 -->
	<select id="journalistDetails" parameterType="Integer" resultType="kr.co.journalista.JournalVO">
		SELECT * FROM airfly.journalistinfo WHERE j_no=#{j_no}
	</select>
	
</mapper>