<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.journalista.mappers.searchMapper">

	<!-- 기자 검색 -->
	<select id="searchjournalist" parameterType="String" resultType="kr.co.journalista.JournalVO">
		SELECT * FROM airfly.journalistinfo WHERE journal_name regexp #{journal_name} order by journal_name asc
	</select>
	
	<!-- 기자 상세페이지 -->
	<select id="journalistDetails" parameterType="Integer" resultType="kr.co.journalista.JournalVO">
		SELECT * FROM airfly.journalistinfo WHERE j_no=#{j_no}
	</select>
	<select id="journalistDetailsSub" parameterType="Integer" resultType="kr.co.journalista.eBoardVO">
		SELECT * FROM airfly.e_board WHERE j_no=#{j_no}
	</select>
	
	<!-- 통합검색 -->
	<select id="totalEboard" parameterType="java.lang.String" resultType="kr.co.journalista.eBoardVO">
		SELECT * FROM airfly.e_board WHERE `name` REGEXP #{keyword}
		UNION 
		SELECT * FROM airfly.e_board WHERE `evaluation` REGEXP #{keyword}
	</select>
	<select id="totalJournalist" parameterType="java.lang.String" resultType="kr.co.journalista.JournalVO">
		SELECT * FROM airfly.journalistinfo WHERE `journal_name` REGEXP #{keyword}
		UNION 
		SELECT * FROM airfly.journalistinfo WHERE `journal_email` REGEXP #{keyword}
		UNION 
		SELECT * FROM airfly.journalistinfo WHERE `press` REGEXP #{keyword}
	</select>
	<select id="totalWrboard" parameterType="java.lang.String" resultType="kr.co.journalista.WrBoardVO">
		SELECT * FROM airfly.wr_board WHERE `name` REGEXP #{keyword}
		UNION 
		SELECT * FROM airfly.wr_board WHERE `wr_title` REGEXP #{keyword}
		UNION 
		SELECT * FROM airfly.wr_board WHERE `wr_contents` REGEXP #{keyword}
	</select>
	<select id="totalPress" parameterType="java.lang.String" resultType="kr.co.journalista.PressVO">
		
	</select>
	
</mapper>